<div class="password-box"
     [formGroup]="passwordForm">
  <label> <input formControlName="password"
           type="password"></label>
  <div class="line"
       [class.invalid]="passwordForm.touched && passwordForm.invalid"
       [class.esay]="passwordForm.valid && strenght == 1"
       [class.medium]="passwordForm.valid && strenght == 2"
       [class.strong]="passwordForm.valid && strenght == 3">
    <div class="block"></div>
    <div class="block"></div>
    <div class="block"></div>
  </div>
</div>